@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');
/* entire document */
/* body{
  background: rgba(13,12,12,1);
  background: url(../public/noise.jpg);
  background-blend-mode: overlay;
  background: radial-gradient(
    circle,
    rgb(37, 101, 147) 5%,
    rgba(13, 12, 12, 1) 60%
  );
  min-height: 100vh;
} */

/*
.first-color { 
	background: #f8b400; GOLDEN YELLOW
}
	
.second-color { 
	background: #faf5e4;  OFF WHITE
}

.third-color { 
	background: #2c786c; MILD GREEN
}

.fourth-color { 
	background: #004445; DARK GREEN
}
*/


body {
  background: radial-gradient(
    circle,
    #faf5e4 5%,
    #004445 60%
  );
  min-height: 100vh;
}


h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  color: inherit;
  margin: inherit;
}



/* 
  ==========================
          ALL BUTTONS 
  ==========================
*/

/* ALL BUTTONS - except recipe buttons*/
.button {
  background-color: #ffffff;
  border: none;
  color: #004445; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Quicksand";
  font-weight: 800;
 }

/* 
  ==========================
          HOME PAGE
  ==========================
*/

.home h1 {
font-family: "Playfair Display", italic ,serif;
font-size: 70px;
color: #faf5e4;
margin-top: 69px;
margin-bottom: 20px;
text-align: center;
font-weight: 400;
}





@media screen and (max-width: 768px) {
  .ingredients ul,
  .directions ol {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 576px) {
  .ingredients li,
  .directions li {
    font-size: 12px;
  }
}

 
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 
 
* {
font-family: 'Open Sans', sans-serif;
}
 
 
body {
margin: 0;
padding: 0;
}


.main-container {
width: 100%;
height: 100vh;
transition: 0.4s linear;
}


 

 