header {
    padding: 3rem 0 1rem;
    overflow: hidden;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}



.header-container {
background-color: transparent;
}



.logo {
    height: 100%;
    width: auto;
    margin-right: 10px; 
    position: absolute;
    left: 0;
} 